<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css"
          />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>

    <title>HTMX Search</title>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
