<p hx-swap-oob="true"
   id="score--<%= @active_player.id %>"
   class="score">
  <%= @rolled_so_far %> 
</p>

<img id="dice-img"
     src="dice-<%= @dice.to_s %>.png"
     alt="Playing dice"
     class="dice" />
